body{
    font-family: sans-serif;
    background-color: rgb(27, 27, 62);
}
.logo{
    width: 300px;
    height: 200px;
}

nav{
    background-color: rgb(23, 23, 39);
    padding: 20px;
}

nav a{
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
    color: blue;
    background-color: black;
    border-radius: 20px;

}


h1, h2{
    color: blue;
}

main p{
    color: blue;
    text-align: justify;
    width: 80%;
}

.prog{
    height: 100px;
}

footer{
    background-color: darkblue;
    padding-top: 10px;
}

footer p{
    background-color: rgb(13, 13, 52);
    color: lightblue;

}
b{
    color: red;
}

        
